@{
    ViewBag.Title = "Página inicial do Sistema";
}

<h2>Página inicial do Sistema</h2>
<h4>Arquitetura: </h4> <p>DDD e TDD</p>

<h2>Tecnologias/Frameworks</h2>
<h4>Camada de Apresentação: </h4> <p>Asp.Net MVC5, AutoMapper, Ninject</p>
<h4>Camada de Infra Estrutura: </h4> <p>Entity Framework, Fluent API</p>
<h4>Camada de Testes: </h4> <p>Microsoft Unit Test Framework</p>


